.form__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    width: 100%;
    @media (max-width:950px) {
        grid-template-columns: 1fr;
    }
}

.form__inputs {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form__btns {
    display: flex;
    align-items: center;
    gap: 15px;
    &__galery, &__remove {
        &:hover {
            color: white;
        }
        border: none;
        color: black;
        background-color: transparent;
        img {
            width: 30px;
        }
    }
}

.form__title {
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 30px;
}

label {
    font-size: 16px;
    font-weight: 500;
}

.bottom__password {
    padding-bottom: 50px;
}

.form__password {
    display: grid;
    grid-template-columns: .5fr;
    grid-gap: 25px;
    @media (max-width:950px) {
        grid-template-columns: 1fr;
    }
    

    &__title {
        font-size: 28px;
        font-weight: 500;
        padding: 40px 0 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}

.save__btn {
    margin-top: 25px;
}