.footer__top {
    background: #46A3581A;
    &__wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
    }
    &__item{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    @media (max-width:1200px) {
        &__wrap {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 20px;
        }
    }
    @media (max-width:650px) {
        &__wrap {
            grid-template-columns: 1fr;
        }
    }

}

footer {
    background-color: #FBFBFB;
}

.footer__bottom {
    padding: 25px 0;
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(4, 1fr);
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__item {
        font-size: 14px;
        font-weight: 400;
        &:hover{
            cursor: pointer;
        }
    }
}

.footer__title{
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0 12px;
}