.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: $secondaryCl;
  color: $primaryCl;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .header__navbar {
    justify-content: space-between;
    padding: 10px 0px;
  }

  &__logo {
    font-size: 30px;
    font-weight: bold;
  }

  &__list {
    gap: 20px;
  }

  &__item {
    padding: 4px 0px;
    border-bottom: 2px solid transparent;
    transition: 0.4s;
    font-weight: 600;
    color: $primaryCl;
    &:hover {
      border-color: $hoverCl;
      color: $hoverCl;
    }
  }
  &__hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
    span {
      width: 20px;
      height: 2px;
      background: black;
      border-radius: 2px;
    }
  }
}


@media (max-width:750px) {
  .header {
    &__list {
      position: fixed;
      top: 0;
      left: -100%;
      background: $secondaryCl;
      width: 60%;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      transition: 0.4s;
      z-index: 9999;
    }
    &__hamburger {
      display: flex;
    }
    &__show-list {
      left: 0;
    }
  }
}
