.form__card {
    display: none;
    padding: 35px;
    background-color: #fff;
    border: 1px solid rgb(235, 232, 232);
    border-radius: 15px;
    position: fixed;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    &__login {
        form {
            display: flex;
            flex-direction: column;
            gap: 35px;
            padding: 25px;
        }
    }
    &__register {
        padding-top: 30px;
        .form {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    @media (max-width:650px) {
        padding: 15px;
        width: 80%;
    }
    
}

input {
    padding: 10px;
    border: 1px solid rgb(220, 217, 217);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    color: gray;
}



.form__btn {
    width: 100%;
}

.modal__btn {
    background: transparent;
    border: none;
    font-size: 32px;
    font-weight: 550;
    @media (max-width:650px) {
        font-size: 18px;
    }
}

.modal__slash {
    font-size: 32px;
}

