.product__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    @media (max-width:850px) {
        grid-template-columns: 1fr;
    }
    div:first-child{
        img {
            width: 100%;
        }
    }
    div:last-child {
        h1{
            font-size: 32px;
            font-weight: 600;
            padding-bottom: 12px;
        }
        p{
            font-size: 16px;
            font-weight: 500;
            padding-bottom: 8px;
        }
    }
}