* {
  margin: 0;
  padding: 0;
  block-size: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

.df {
  display: flex;
  align-items: center;
}

main {
  padding-top: 200px;
}