.products {
  padding-top: 50px;
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }

  &__card__img {
    img {
      height: 250px;
      object-fit: cover;
      width: 100%;
    }
  }

  &__card {
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
  }

  &__card__info {
    padding: 5px 10px 10px;
  }

  &__imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    opacity: 0;
    img {
      width: 25px;
      height: 25px;
      cursor: pointer;
      object-fit: cover;
    }
  }

  .seeMoreBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
  }

  

  &__title {
    font-size: 18px;
  }

  &__title:hover {
    color: green;
  }

  &__desc {
    color: gray;
  }

  &__text {
    display: flex;
    margin-left: -20px !important;
  }
  &__info {
    padding: 40px 0px;
  }

  @media (max-width: 1120px) {
    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
  }
  @media (max-width: 900px) {
    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }

  @media (max-width: 600px) {
    &__cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
  }
}

.input__select {
  padding: 5px 20px;
}

.select__products {
  padding: 5px 20px;
  font-size: 20px;
  margin: 20px auto;
  border-radius: 5px;
  outline: none;
}

.empty__img {
  width: 1200px;
  height: 300px;
  object-fit: contain;
}
